Data Frame - Table of rows and columns. Each column is known as Pandas Series

In [13]:
import pandas as pd
ufo = pd.read_table('ufo.csv', sep=',')
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [14]:
type(ufo)

pandas.core.frame.DataFrame

In [41]:
ufo['City'].head()

0                  Ithaca
1             Willingboro
2                 Holyoke
3                 Abilene
4    New York Worlds Fair
Name: City, dtype: object

In [42]:
ufo['Colors Reported'].head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: Colors Reported, dtype: object

In [43]:
ufo['Location'] = ufo.City +',' + ufo.State

In [44]:
ufo['Location'].head()

0                  Ithaca,NY
1             Willingboro,NJ
2                 Holyoke,CO
3                 Abilene,KS
4    New York Worlds Fair,NY
Name: Location, dtype: object