In [2]:
import pandas as pd
ufo = pd.read_table('http://bit.ly/uforeports', sep=',')
ufo.dtypes

City               object
Colors Reported    object
Shape Reported     object
State              object
Time               object
dtype: object

In [3]:
import pandas as pd
drinks = pd.read_table('http://bit.ly/drinksbycountry', sep=',')
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [4]:
import numpy as np
drinks.select_dtypes(include=[np.number]).dtypes

beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
dtype: object

In [ ]:
drinks.drop(['beer_servings'], axis = 1, inplace=True)

In [8]:
drinks.select_dtypes(include=[np.number]).dtypes

spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
dtype: object

In [10]:
drinks.describe(include='all')

,country,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
count,193,193.000000,193.000000,193.000000,193
unique,193,NaN,NaN,NaN,6
top,San Marino,NaN,NaN,NaN,Africa
freq,1,NaN,NaN,NaN,53
mean,NaN,80.994819,49.450777,4.717098,NaN
std,NaN,88.284312,79.697598,3.773298,NaN
min,NaN,0.000000,0.000000,0.000000,NaN
25%,NaN,4.000000,1.000000,1.300000,NaN
50%,NaN,56.000000,8.000000,4.200000,NaN
75%,NaN,128.000000,59.000000,7.200000,NaN
max,NaN,438.000000,370.000000,14.400000,NaN

In [12]:
drinks.describe(include=['object', 'float'])

           country  total_litres_of_pure_alcohol continent
count          193                    193.000000       193
unique         193                           NaN         6
top     San Marino                           NaN    Africa
freq             1                           NaN        53
mean           NaN                      4.717098       NaN
std            NaN                      3.773298       NaN
min            NaN                      0.000000       NaN
25%            NaN                      1.300000       NaN
50%            NaN                      4.200000       NaN
75%            NaN                      7.200000       NaN
max            NaN                     14.400000       NaN